<!-- include header -->
<%- include('include/_header')%>
    <!-- include header -->

    <!-- Main Site -->

    <body>
        <br />
        <br />
        <br />
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12  ht">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 sidebar-offcanvas pa-box-shadow" id="sidebar">
                        <div class="panel panel-info padda-left-panel ">
                            <div class="panel-body">
                                <div class="list-group padda-left-sidebar">
                                    <br />
                                    <br />
                                    <br />
                                    <a class="list-group-item" hreflang="en">Numbers </a>
                                    <a class="list-group-item" hreflang="en">HCF & LCM </a>
                                    <a class="list-group-item" hreflang="en">Decimal Fraction </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.col-xs-6.col-lg-4-->
                    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 pa-box-shadow">
                        <div class="panel panel-info pa-panel-info">
                            <div class="panel-heading pa-panel-heading">
                                <br />
                                <br />
                                <br />
                                <br />
                                <h4>Numbers</h4>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question-box">
                                    <div class="row question">
                                        <div class="col-xs-12 col-sm-12">
                                            <!-- /Example 1 -->
                                            <dl>
                                                <dt>
                                                    1</dt>
                                                <dd>
                                                    <p>Find the sum (2+22+23+24+............+210)
                                                        ?<br></p>
                                                </dd>
                                            </dl>

                                        </div>
                                    </div>
                                    <div class="row options">
                                        <div class="col-xs-12 col-sm-6"><span itemprop="a">A. 2016</span></div>
                                        <div class="col-xs-12 col-lg-6"><span itemprop="b">B. 2046</span></div>
                                    </div>
                                    <div class="row options">
                                        <div class="col-xs-12 col-sm-6"><span itemprop="c">C. 2086</span></div>
                                        <div class="col-xs-12 col-lg-6"><span itemprop="d">D. 2116</span></div>
                                    </div>


                                    <a class=" btn-pri" data-toggle="collapse" href="#multiCollapseExample1"
                                        aria-expanded="false">Answer </a>
                                    <div class="row">
                                        <div class="col">
                                            <div class="collapse multi-collapse" id="multiCollapseExample1">
                                                <div class="card card-body">
                                                    <pre>
    Answer is Option B.
    This is a G.P. in which   a = 2 , r = 222=42=2.
Required sum = a(rn−1)(r−1)
                      = 2(210−1)(2−12)
                      = (2 x 1023) = 2046.
  </pre>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Example 2 -->
                                    <dt>
                                        2 </dt>
                                    <dd>
                                        <p>( 6 + 15 + 24 + 37 + ........................+ 105 ) = ?
                                            <br>
                                        </p>
                                    </dd>
                                    <div class="row options">
                                        <div class="col-xs-12 col-sm-6"><span itemprop="a">A. 555</span></div>
                                        <div class="col-xs-12 col-lg-6"><span itemprop="b">B. 625</span></div>
                                    </div>
                                    <div class="row options">
                                        <div class="col-xs-12 col-sm-6"><span itemprop="c">C. 666</span></div>
                                        <div class="col-xs-12 col-lg-6"><span itemprop="d">D. 696</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a class=" btn-pri" data-toggle="collapse" href="#multiCollapseExample2"
                            aria-expanded="false">Answer </a>
                        <div class="row">
                            <div class="col">
                                <div class="collapse multi-collapse" id="multiCollapseExample2">
                                    <div class="card card-body">
                                        <pre>
  Answer is Option C.
Given series in an A.P. in which  a = 6, d = (15 - 6) = 9 and  l = 105.

Let the number of terms in it be n  . Then ,

a+(n−1)d= 105
⇒  6 + (n - 1) x 9 = 105

⇒  (n - 1) x 9 = 99

⇒    (n - 1) = 11

⇒ n = 12

Required sum = n2(a+l)= 122(6+105) = (6 x 111) = 666.
</pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Example 3 -->
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question-box">
                                <div class="row question">
                                    <div class="col-xs-12 col-sm-12">
                                        <dl>
                                            <dt>
                                                3</dt>
                                            <dd>
                                                <p>Find the remainder when 231 is divided by 3. ?
                                                    ?<br></p>
                                            </dd>
                                        </dl>

                                    </div>
                                </div>
                                <div class="row options">
                                    <div class="col-xs-12 col-sm-6"><span itemprop="a">A. 3</span></div>
                                    <div class="col-xs-12 col-lg-6"><span itemprop="b">B. 2</span></div>
                                </div>
                                <div class="row options">
                                    <div class="col-xs-12 col-sm-6"><span itemprop="c">C. 4</span></div>
                                    <div class="col-xs-12 col-lg-6"><span itemprop="d">D. 5</span></div>
                                </div>


                                <a class=" btn-pri" data-toggle="collapse" href="#multiCollapseExample3"
                                    aria-expanded="false">Answer </a>
                                <div class="row">
                                    <div class="col">
                                        <div class="collapse multi-collapse" id="multiCollapseExample3">
                                            <div class="card card-body">
                                                <pre>
Answer is Option A.
231  = (210×210×210)×2
=(210)3×2
=(1024)3×2
Unit digit in 231 = Unit digit in [(1024)3×2] = (4 x 2)

= 8.Now , 8 when divided  by 5 gives 3 as remainder.

∴      231 when divided by 5 gives remainder = 3.
</pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Example 4 -->
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question-box">
                                        <div class="row question">
                                            <div class="col-xs-12 col-sm-12">
                                                <dl>
                                                    <dt>
                                                        4</dt>
                                                    <dd>
                                                        <p>Simplify :789×789×789+211×211×211/789×789−780×211+211×211 = ?
                                                            ?<br></p>
                                                    </dd>
                                                </dl>

                                            </div>
                                        </div>
                                        <div class="row options">
                                            <div class="col-xs-12 col-sm-6"><span itemprop="a">A. 3</span></div>
                                            <div class="col-xs-12 col-lg-6"><span itemprop="b">B. 2</span></div>
                                        </div>
                                        <div class="row options">
                                            <div class="col-xs-12 col-sm-6"><span itemprop="c">C. 4</span></div>
                                            <div class="col-xs-12 col-lg-6"><span itemprop="d">D. 5</span></div>
                                        </div>


                                        <a class=" btn-pri" data-toggle="collapse" href="#multiCollapseExample4"
                                            aria-expanded="false">Answer </a>
                                        <div class="row">
                                            <div class="col">
                                                <div class="collapse multi-collapse" id="multiCollapseExample4">
                                                    <div class="card card-body">
                                                        <pre>
Answer is Option A.
Given Exp. = (789)3+(211)3(789)2−(789×211)+(211)2
              =(a3+b3)(a2−ab+b2) ,     where a = 789 and  b = 211.

            = (a + b)  =  (789 + 211) =  1000.
</pre>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Example 4 -->
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question-box">
                                                <div class="row question">
                                                    <div class="col-xs-12 col-sm-12">
                                                        <dl>
                                                            <dt>
                                                                5</dt>
                                                            <dd>
                                                                <p>On dividing a certain number by 342, we get 47 as
                                                                    remainder . If the same number is divided by 18 ,
                                                                    what will be the

                                                                    number remainder ?
                                                                    ?<br></p>
                                                            </dd>
                                                        </dl>

                                                    </div>
                                                </div>
                                                <div class="row options">
                                                    <div class="col-xs-12 col-sm-6"><span itemprop="a">A. 11</span>
                                                    </div>
                                                    <div class="col-xs-12 col-lg-6"><span itemprop="b">B. 9</span></div>
                                                </div>
                                                <div class="row options">
                                                    <div class="col-xs-12 col-sm-6"><span itemprop="c">C. 10</span>
                                                    </div>
                                                    <div class="col-xs-12 col-lg-6"><span itemprop="d">D. 12</span>
                                                    </div>
                                                </div>


                                                <a class=" btn-pri" data-toggle="collapse" href="#multiCollapseExample5"
                                                    aria-expanded="false">Answer </a>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="collapse multi-collapse" id="multiCollapseExample5">
                                                            <div class="card card-body">
                                                                <pre>
Answer is Option A.
Suppose that on dividing the given number by 343, we get quotient  = k and  remainder = 47,

Number = 342   + 47

            = (18 x 19k) + (18 x 2) + 11

          = 18 x (19k + 2) + 11

         So , the number when divided by 18 gives remainder = 11
</pre>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /Main Site -->

                                                <!-- include footer -->
                                                <%- include('include/_footer')%>
                                                    <!-- include footer -->