<!-- include header -->
<%- include('include/_header')%>
    <!-- include header -->

    <!--Main Site-->
    <section id="projects-section" class="container mt-5 pt-5">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3>Our Creative Team</h3>
            </div>
        </div>
        <div class="row work-row">

            <div class="col-xl-4 col-md-4 mb-4">
                <div class="project-card card border-dark text-white" style="background-color:#004f9e">
                    <img src="/img/avatar-guy-in-specs.png" class="card-img-top" alt="Nitish Nagar">
                    <div class="card-body">
                        <div class="card-body-inner d-flex">
                            <h5 class="card-title">Pradeepraj Nadar</h5>
                            <a href="https://github.com/Pradeepraj21" class="ml-auto text-white"><i
                                    class="fab fa-github fa-lg"></i></a>
                        </div>
                        <span class="badge badge-light">UI Design</span>
                        <span class="badge badge-light">Front-End</span>
                        <hr>
                        <p class="card-text">Roll Number: 25 <br> MCA 2021-23</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 mb-4">
                <div class="project-card card border-dark text-white" style="background-color:#004f9e">
                    <img src="/img/avatar-guy.png" class="card-img-top" alt="Omnifood Project">
                    <div class="card-body">
                        <div class="card-body-inner d-flex">
                            <h5 class="card-title">Nitish Nagar</h5>
                            <a href="https://github.com/nitish-nagar" class="ml-auto text-white" target="_blank"><i
                                    class="fab fa-github fa-lg"></i></a>
                        </div>
                        <span class="badge badge-light">Front-End</span>
                        <span class="badge badge-light">Back-End</span>
                        <hr>
                        <p class="card-text">Roll Number: 27 <br> MCA 2021-23</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 mb-4">
                <div class="project-card card border-dark text-white" style="background-color:#004f9e">
                    <img src="/img/avatar-girl.png" class="card-img-top" alt="Omnifood Project">
                    <div class="card-body">
                        <div class="card-body-inner d-flex">
                            <h5 class="card-title">Pranjal Pagar</h5>
                            <a href="https://github.com/Pranjal444" class="ml-auto text-white" target="_blank"><i
                                    class="fab fa-github fa-lg"></i></a>
                        </div>
                        <span class="badge badge-light">Front-End</span>
                        <span class="badge badge-light">Documentation</span>
                        <hr>
                        <p class="card-text">Roll Number: 30 <br> MCA 2021-23</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--/Main Site-->

    <!-- include footer -->
    <%- include('include/_footer')%>
        <!-- include footer -->