<!-- include header -->
<%- include('include/_header')%>
  <!-- include header -->

  <!-- Main Site -->

  <!-- HERO-SECTION -->
  <section id="hero-section">
    <div class="bg-text">
      <img src="/img/symbolnobg.png" />
      <h2>The Placement Cell</h2>
      <h1>SIES COLLEGE OF MANAGEMENT STUDIES</h1>
      <h5>Affiliated to The University of Mumbai</h5>
    </div>
    <br /><br />
  </section>
  <!-- /HOME SECTION -->

  <!-- ABOUT SECTION -->
  <section id="about-section">
    <div class="container-fluid mt-5 mb-5">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
          <img src="/img/siescoms2.jpg" class="img-fluid" />
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <h1 class="text-center" style="color: coral">About SIESCOMS</h1>
          <hr />
          <p style="font-family: 'Josefin Sans', sans-serif">
            SIES College of Management Studies (SIESCOMS) is a South Indian
            Education Society (SIES) campus located in Nerul, a node of Navi
            Mumbai. SIESCOMS was established in 1995 with the primary objective of
            providing quality management education and managing company.
            SIESCOMS's main programmes are a two-year full-time course in Masters
            in Management Studies (Mumbai University) and Post Graduate Diploma in
            Management (PGDM- autonomous) . The Post Graduate Diploma in
            Management program and the other PGDM-Biotechnology and Pharmaceutical
            Managements comes under the SIES Business school whereas the Masters
            of management studies, a Mumbai university affiliated course is a part
            of SIESCOMS. SIESCOMS also has full-time Master in Computer
            Application (MCA), which is a two-year programme from year 2020,
            aiming at creating managers specially for IT sector. The college also
            offers a doctoral program in collaboration with Bengal Engineering and
            Science University, Shibpur (BESUS), Kolkata. Other special programs
            include a two-year program on Biotechnology Business Management, and a
            one-year program on Social Enterprise Management targeted at the NGO
            sector, from new centre at Sion.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- /ABOUT SECTION -->

  <!-- /Main Site -->

  <!-- include footer -->
  <%- include('include/_footer')%>
    <!-- include footer -->