<!-- include header -->
<%- include('include/_header')%>
  <!-- include header -->

  <!-- Main Site -->

  <!--LOGIN FORM-->

  <section id="login-form">
    <div class="container">
      <div class="login-form">
        <h3 class="text-center">Login</h3>
        <form action="/login" method="POST" id="login">
          <div class="form-icon">
            <span><i class="fa fa-sign-in"></i></span>
          </div>
          <div class="form-group">
            <input type="email" class="form-control item" name="email" id="email" placeholder="Email" required />
          </div>
          <div class="form-group">
            <input type="password" name="password" id="password" class="form-control item" placeholder="Password"
              required />
          </div>
          <div class="form-group">
            <input class="btn btn-block create-account" type="submit" value="Login" />
          </div>
        </form>
        <div class="below-register-form">
          Don't have an account? <a href="/register">Sign up</a>
        </div>
      </div>
    </div>
  </section>

  <!--/LOGIN FORM-->

  <!-- /Main Site -->

  <!-- include footer -->
  <%- include('include/_footer')%>
    <!-- include footer -->