<!-- include header -->
<%- include('include/_header')%>
  <!-- include header -->

  <!-- Main Site -->

  <section id="placement-section">
    <div class="container-fluid placement-gallery">
      <h3 class="text-center mb-3" style="color: #f26d21">
        These recruiters visit us for
      </h3>
      <h2 class="text-center mb-5" style="color: #f26d21">
        Campus Placement
      </h2>
      <div class="row">
        <!-- company 1 -->
        <div class="col-xl-3 col-md-4 col-sm-6 mb-4">
          <div class="card border-0 shadow text-center">
            <a href="#"><img src="img/Amazon-Logo.jpg" style="width: auto; height: 185px"
                class="card-img-top img-fluid" /></a>
            <div class="card-body text-center">
              <div class="card-text text-black-50">Amazon</div>
            </div>
          </div>
        </div>
        <!-- company 2 -->
        <div class="col-xl-3 col-md-4 col-sm-6 mb-4">
          <div class="card border-0 shadow text-center">
            <a href="#"><img src="img/Asian-Paints-Logo.png" style="width: auto; height: 185px"
                class="card-img-top img-fluid" /></a>
            <div class="card-body text-center">
              <div class="card-text text-black-50">Asian Paints</div>
            </div>
          </div>
        </div>
        <!-- company 3 -->
        <div class="col-xl-3 col-md-4 col-sm-6 mb-4">
          <div class="card border-0 shadow text-center">
            <a href="#"><img src="img/Capgemini-Logo.png" style="width: auto; height: 185px"
                class="card-img-top img-fluid" /></a>
            <div class="card-body text-center">
              <div class="card-text text-black-50">Capgemini</div>
            </div>
          </div>
        </div>
        <!-- company 4 -->
        <div class="col-xl-3 col-md-4 col-sm-6 mb-4">
          <div class="card border-0 shadow text-center">
            <a href="#"><img src="img/Crisil-Logo.jpg" style="width: auto; height: 185px"
                class="card-img-top img-fluid" /></a>
            <div class="card-body text-center">
              <div class="card-text text-black-50">Crisil</div>
            </div>
          </div>
        </div>
        <!-- company 5 -->
        <div class="col-xl-3 col-md-4 col-sm-6 mb-4">
          <div class="card border-0 shadow text-center">
            <a href="#"><img src="img/Deloitte-Logo.jpg" style="width: auto; height: 185px"
                class="card-img-top img-fluid" /></a>
            <div class="card-body text-center">
              <div class="card-text text-black-50">Deloitte</div>
            </div>
          </div>
        </div>
        <!-- company 6 -->
        <div class="col-xl-3 col-md-4 col-sm-6 mb-4">
          <div class="card border-0 shadow text-center">
            <a href="#"><img src="img/EY-Logo.jpg" style="width: auto; height: 185px"
                class="card-img-top img-fluid" /></a>
            <div class="card-body text-center">
              <div class="card-text text-black-50">Ernst & Young</div>
            </div>
          </div>
        </div>
        <!-- company 7 -->
        <div class="col-xl-3 col-md-4 col-sm-6 mb-4">
          <div class="card border-0 shadow text-center">
            <a href="#"><img src="img/Icicibank-Logo.jpg" style="width: auto; height: 185px"
                class="card-img-top img-fluid" /></a>
            <div class="card-body text-center">
              <div class="card-text text-black-50">ICICI Bank</div>
            </div>
          </div>
        </div>
        <!-- company 8 -->
        <div class="col-xl-3 col-md-4 col-sm-6 mb-4">
          <div class="card border-0 shadow text-center">
            <a href="#"><img src="img/Infosys-Logo.png" style="width: auto; height: 185px"
                class="card-img-top img-fluid" /></a>
            <div class="card-body text-center">
              <div class="card-text text-black-50">Infosys</div>
            </div>
          </div>
        </div>
        <!-- company 9 -->
        <div class="col-xl-3 col-md-4 col-sm-6 mb-4">
          <div class="card border-0 shadow text-center">
            <a href="#"><img src="img/Tcs-Logo.png" style="width: auto; height: 185px"
                class="card-img-top img-fluid" /></a>
            <div class="card-body text-center">
              <div class="card-text text-black-50">
                Tata Consultancy Services
              </div>
            </div>
          </div>
        </div>
        <!-- company 10 -->
        <div class="col-xl-3 col-md-4 col-sm-6 mb-4">
          <div class="card border-0 shadow text-center">
            <a href="#"><img src="img/TechMahindra-Logo.png" style="width: auto; height: 185px"
                class="card-img-top img-fluid" /></a>
            <div class="card-body text-center">
              <div class="card-text text-black-50">Tech Mahindra</div>
            </div>
          </div>
        </div>
        <!-- company 11 -->
        <div class="col-xl-3 col-md-4 col-sm-6 mb-4">
          <div class="card border-0 shadow text-center">
            <a href="#"><img src="img/Wipro-Logo.png" style="width: auto; height: 185px"
                class="card-img-top img-fluid" /></a>
            <div class="card-body text-center">
              <div class="card-text text-black-50">Wipro</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- /Main Site -->

  <!-- include footer -->
  <%- include('include/_footer')%>
    <!-- include footer -->